@tailwind base;
@tailwind components;
@tailwind utilities;

.item:hover{
    background-color: #f8f8f8f8;
    color: #666666;
}

.product::-webkit-scrollbar{
    width: 0;
}
.navbar::-webkit-scrollbar{
    width: 0;
}
.cart-slide::-webkit-scrollbar{
    width: 0;
}